@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary-color: #C84630;
  --dark-color: #333;
  --light-color: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

p {
  margin: 0.75rem 0;
}

textarea {
  resize: vertical;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.bg-primary {
  background-color: var(--primary-color);
  color: #FFF;
}
.bg-dark {
  background-color: var(--dark-color);
  color: #FFF;
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bg-dark a {
  color: #FFF;
}

.text-primary {
  color: var(--primary-color);
}

.l-heading {
  font-size: 3rem;
}

.lead {
  font-size: 1.3rem;
}

/************************************************
********** HEADER STYLES ************************
************************************************/

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99999;
}

nav ul {
  display: flex;
}

nav .logo img {
  max-height: 45px;
}

nav ul li a {
  padding: .75rem;
  border-radius: 5px;
  transition: .3s;
  margin: 0 .5rem;
}
nav ul li a:hover {
  background-color: var(--primary-color);
  color: #FFF;
}

/************************************************
********** BUTTONS STYLES ************************
************************************************/

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #FFF;
  transition: .3s;
  border-radius: 5px;
  padding: .5rem 2rem;
  margin-top: 1rem;
}
.btn:hover {
  background-color: rgb(145, 63, 48);
}

/************************************************
********** SHOWCASE STYLES ************************
************************************************/

.showcase {
  background: var(--dark-color) url('../images/showcase.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.showcase-content {
  z-index: 2;
}