@media(max-width: 550px) {
    .container {
      width: 90%;
    }
    nav {
      flex-direction: column;
    }
    nav ul {
      margin-top: .75rem;
    }
  
    .l-heading {
      font-size: 2.5rem;
    }
  
    .lead { font-size: 1rem;}
  
    .items {
      flex-direction: column;
    }
  
    #who .items {
      flex-direction: column-reverse;
    }
  
    #clients .items { flex-direction: row;}
    #team-img {
      min-height: 300px;
    }
    #contact .item>* {
      height: 478px;
    }
  
  }